<?xml version="1.0"?>
<configuration>
  <appSettings>
    <!--<add key="ConnectionString" value="data source=192.168.1.165;initial catalog=AIS20101126160333;persist security info=False;user id=sa;password=cx_123;"/>-->
  <add key="ConnectionString" value="data source=192.168.1.165;initial catalog=AIS20120418193840;persist security info=False;user id=sa;password=cx_123;packet size=4096"/>
  </appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.0">
      <assemblies>
        <add assembly="stdole, Version=7.0.3300.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
      </assemblies>
    </compilation>
  </system.web>
  <system.webServer>
    <directoryBrowse enabled="true"/>
  </system.webServer>
</configuration>